<form method="POST" action="/interviewer-statistic" id="editchange">
        <select name="interviewer">
                {{#each interviewers}}
                <option value="{{name}}">{{name}}</option>
                {{/each}}
        </select>
        <input type="submit" value="Lekérdezés" id="publishbutton">
</form>