<a href="/" >Vissza</a>
<form method="POST" action="/add-interviewer" name="interviewer">
    <label>Név</label>
    <input type="text" name="name" id="name"><br>
    <input type="submit" value="Küldés">
</form>