<a href="/" >Vissza</a>
<form method="POST" action="/job-apply" name="apply">
    <label>Név</label>
    <input type="text" name="name" id="name"><br>
    <label>Email</label>
    <input type="text" name="email" id="email"><br>
    <input type="submit" value="Küldés">
</form>